$primaryColor: #13e2a1;
$greenTintGrey: #f7f9f8;
$normalDisabled: #bfbebc;
$secondaryText: #969393;
$accentOn: #ffbe2f;
$cardHover: #f6f7f9;

.cards-contents-root {
    display: flex;
    flex-direction: column;
    padding: 0 16px;
    margin: 0 auto;
    position: relative;

    &.m-c-5 {
        max-width: 1452px;
    }

    &.m-c-4 {
        max-width: 1288px;
    }

    &.m-c-3 {
        max-width: 960px;
    }

    & .card-lists {
        & .card-root-grid {
            width: initial;

            & .card-root {
                background: #ffffff;
                box-shadow: 6px 6px 18px #00000029;
                cursor: pointer;
                border-radius: 16px;
                width: 304px;

                transition: background-color 0.1s;
                &.wider {
                    width: 468px;
                    height: 280px;
                }

                &:hover {
                    background-color: $cardHover;
                }
            }
        }

        &.phase-1 {
            & .card-root-grid {
                width: initial;

                &.wider {
                    width: 100%;
                }

                & .card-root {
                    &.wider {
                        width: initial;
                    }
                }
            }
        }

        &.phase-2 {
            & .card-root-grid {
                width: 100%;

                & .card-root {
                    width: initial;

                    &.wider {
                        width: initial;
                    }
                }
            }
        }
    }

    .add-new-root {
        color: $primaryColor;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;

        & .container {
            & .icon-container {
                display: flex;
                justify-content: center;
                margin-bottom: 16px;

                & svg {
                    font-size: 2.25rem;
                }
            }
        }
    }

    .main-card-entry-root {
        padding: 24px;
        height: 100%;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        & .header {
            align-items: center;
            display: flex;
            flex-direction: row;

            & .title {
                margin-right: auto;

                & h4 {
                    margin: 0;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    overflow: hidden;
                }
            }

            & .on-progress {
                color: $normalDisabled;
                display: flex;
                align-items: center;
                font-size: 0.75rem;
                font-weight: 600;
                margin-left: auto;

                & .indicator {
                    background-color: $normalDisabled;
                    border-radius: 50%;
                    width: 8px;
                    height: 8px;
                    margin-left: 8px;
                }

                &.on {
                    color: $primaryColor;

                    & .indicator {
                        background-color: $accentOn;
                    }
                }
            }
        }

        & .descriptor {
            color: $secondaryText;
            margin-top: 24px;

            & h5 {
                margin: 0;
                display: inline-block;
                width: 100%;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;

                /* 여러 줄 자르기 추가 스타일 */
                white-space: normal;
                line-height: 1.3;
                height: 3.9em;
                text-align: left;
                word-wrap: break-word;
                display: -webkit-box;
                -webkit-line-clamp: 3;
                -webkit-box-orient: vertical;
            }
        }

        & .footer-info {
            font-size: 0.825rem;
            font-weight: 400;

            & .footer-text {
                color: $secondaryText;
                margin-bottom: 10px;
            }
            & .footer-toggle {
                color: white;

                & > span {
                    background-color: #9a9898;
                    border-radius: 9px;
                    padding: 3px 9px;

                    display: inline-block;
                    max-width: 100px;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }
                & span + span {
                    margin-left: 10px;
                }
            }
        }
    }

    @media all and (min-width: 992px) and (max-width: 1483px) {
        // width: 960px;
    }

    @media all and (min-width: 663px) and (max-width: 991px) {
        // width: 632px;

        & .card-lists {
        }
    }

    @media all and (max-width: 662px) {
        // width: initial;

        & .card-lists {
        }
    }

    @media all and (max-width: 768px) {
        & .main-card-entry-root {
            & .descriptor {
                & h5 {
                    // -webkit-line-clamp: 4;
                    // height: 5.8rem;
                }
            }
        }
    }
}
