.class-draft-root {
    padding: 34px 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;

    & .class-cardView-wrapper {
        width: 100%;

        & .draft-cardview-root {
            width: 33%;
            height: 280px;
            display: inline-block;

            border-radius: 11px;
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            & .draft-cardview-header {
                background-color: #e5e5e5;
                padding: 12px;
                display: flex;
                align-items: center;
                justify-content: space-between;
            }
        }

        & .draft-cardview-root + .draft-cardview-root {
            margin-left: 0px;
        }
    }
}

@media (min-width: 769px) and (max-width: 1024px) {
    .class-draft-root {
        & .class-cardView-wrapper {
            & .draft-cardview-root {
                width: 49%;
            }
        }
    }
}

@media all and (max-width: 768px) {
    .class-draft-root {
        & .class-cardView-wrapper {
            & .draft-cardview-root {
                width: 90%;
            }
        }
    }
}
