$primaryColor: #13e2a1;

.class-page-root {
    padding-left: 240px;
    min-height: 80vh;

    & .class-input-header {
        padding: 18.5px 0;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    & .class-title {
        font-size: 16px;
        font-weight: 400;
        width: 100%;
        padding: 34px 0;
        & > b {
            font-weight: 600;
        }
        & > span {
            color: $primaryColor;
            font-weight: 600;
        }
    }

    & .class-draft-root {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;

        & .class-draft-card {
            width: 100%;
        }
    }

    & .class-manage-root {
    }
}
