$primaryColor: #13e2a1;
.class-drawer-root {
    padding: 50px 80px 50px 80px;
    height: 100%;
    width: 540px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    // justify-content: space-between;

    & .close-icon {
        cursor: pointer;
        margin-bottom: 2rem;
    }

    & .drawer-error {
        width: 100%;
        padding: 0.5rem 1rem 0 1rem;
        box-sizing: border-box;
        font-size: 0.75rem;
        color: red;
        font-weight: 400;
    }

    & .drawer-title {
        margin-bottom: 1.5rem;
    }
    & .class-drawer-block + .class-drawer-block {
        margin-top: 2rem;
    }
    & .drawer-subTitle {
        color: #969393;
        padding-bottom: 0.5rem;
        font-size: 1rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    & .drawer-modify-title {
        margin-bottom: 1rem;
    }

    & .drawer-modify-subTitle {
        color: #969393;
        padding-bottom: 2rem;
        font-size: 0.85rem;
    }

    & .drawer-inputs {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;

        & .drawer-input + .drawer-input {
            margin-top: 0.5rem;
        }
        & .drawer-input {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: flex-start;

            & > input {
                width: 100%;
                box-sizing: border-box;
                background-color: #f6f7f9;
                color: black;
                padding: 1.3rem;
                border-radius: 10px;
            }
        }
    }
    .drawer-selects {
        display: flex;
        & input[type='file'] {
            /* 파일 필드 숨기기 */
            position: absolute;
            width: 1px;
            height: 1px;
            padding: 0;
            margin: -1px;
            overflow: hidden;
            clip: rect(0, 0, 0, 0);
            border: 0;
        }
        & #file-click {
            pointer-events: none;
        }

        & .drawer-select + .drawer-select {
            margin-left: 1rem;
        }
        & .drawer-select {
            cursor: pointer;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            text-align: center;
            background-color: #f6f7f9;
            border-radius: 10px;
            width: 50%;
            height: 220px;
            box-sizing: border-box;
            padding: 1rem 2rem;

            & svg {
                pointer-events: none;
                width: 40px;
                height: 40px;
                margin-bottom: 1rem;
            }
            & h4 {
                pointer-events: none;
                margin: 0 0 0.2rem 0;
                font-size: 0.9rem;
            }
            & p {
                pointer-events: none;
                color: #4c8573;
                margin: 0;
                font-size: 0.75rem;
            }
        }

        & .drawer-select:hover {
            background-color: #13e2a11f;
            box-sizing: border-box;
            border: 1.5px solid $primaryColor;
        }
    }
    & .drawer-select-warn {
        font-size: 0.75rem;
        font-weight: 400;
        padding: 0.5rem 0 0 0.5rem;
    }

    & .drawer-toggle {
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        //padding: 0.75rem 1.5rem;

        & > span {
            width: 50%;
            display: flex;
            align-items: center;
            justify-content: flex-start;
            & > p {
                font-size: 0.9rem;
                color: #969393;
                margin-right: 1rem;
            }

            & .time-inputs {
                font-size: 1rem;
                color: #969393;
                display: flex;
                align-items: center;
                justify-content: flex-start;
                margin-right: 1rem;
                & > input {
                    font-size: 0.9rem;
                    color: black;
                    width: 25px;
                    height: 25px;
                    text-align: center;
                }
                & > input::placeholder {
                    font-size: 0.9rem;
                    color: #969393;
                }
            }
        }

        & > span + span {
            margin-left: 1rem;
        }
    }

    & .drawer-footer {
        width: 100%;
        display: flex;
        align-items: flex-end;
        justify-content: flex-end;
        margin-top: auto;
        padding-top: 4.5rem;
        font-size: 0.8rem;
        font-weight: 600;

        & .drawer-button {
            // cursor: pointer;
            // border-radius: 10px;
            // background-color: #c4c4c4;
            // color: white;
            // width: 180px;
            // height: 56px;

            // display: flex;
            // align-items: center;
            // justify-content: center;
        }
        & .drawer-button + .drawer-button {
            margin-left: 1rem;
        }
    }
}
