.class-card-root {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;

    & .class-card-wrapper {
        padding: 12px 24px;
    }
    & .class-card-wrapper-student {
        padding: 16px;
    }
    & .class-card-header {
        background-color: #e5e5e5;
        border-radius: 10px 10px 0 0;
        display: flex;
        align-items: center;
        justify-content: space-between;

        & p {
            color: #2e2c2c;
        }

        & .card-title-p {
            color: #989696;
            width: 73%;
        }
    }
    & .class-card-header-on {
        background-color: #13e2a1;
        border-radius: 10px 10px 0 0;
        display: flex;
        align-items: center;
        justify-content: space-between;

        & p {
            color: white;
        }
    }

    & .card-option {
        display: flex;
        height: 100%;
        align-items: center;
        cursor: pointer;

        & p {
            font-size: 11px;
            font-weight: 500;
            transition: all 0.5s;
        }
        & p::after {
            content: ' >';
        }
        & p:hover {
            margin-right: 3px;
        }
    }

    & .card-title-p {
        color: white;
        width: 73%;
    }
    & .card-title-name {
        margin-right: 1rem;

        max-width: 140px;
        margin: 0;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
    }

    & .class-card-contents {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
    }
    & .class-card-bottom-right {
        height: 100%;
        padding: 0 24px 12px 24px;
        display: flex;
        align-items: flex-end;
        justify-content: flex-end;
        & > a {
            padding-top: 1rem;
            width: 140px;
            display: flex;
            align-items: center;
            justify-content: flex-end;
        }
        & > span + span {
            padding-left: 20px;
        }
        & .share-report {
            font-weight: 600;
            display: flex;
            align-items: center;
        }
        & .share-report:hover {
            margin-right: -4px;
            transition: margin 0.3s;
        }
    }
    & .class-card-bottom-left {
        height: 100%;
        padding: 0 12px 12px 12px;
        display: flex;
        align-items: flex-end;
        justify-content: flex-start;
        & > span + span {
            padding-left: 20px;
        }
    }

    /** share 페이지 전용 **/
    & .class-card-flex {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        & .class-card-left {
            width: 66%;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }
        & .class-card-right {
            width: 34%;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            & .student-complete-text {
                width: 100%;
                text-align: right;
                font-weight: 600;
                color: #2e2c2c;
            }
        }
    }

    /** card 공용css **/
    & .contents-block + .contents-block {
        padding-top: 20px;
    }
    & .card-item + .card-item {
        padding-top: 8px;
    }

    & .contents-block {
        width: 100%;

        & .card-item {
            display: flex;
            align-items: center;

            & > .card-content-title-p {
                width: 85px;
            }
            & .card-content-time {
                display: flex;
            }

            & > svg {
                padding-right: 12px;
            }
        }
    }

    & .card-item-student + .card-item-student {
        padding-top: 10px;
    }

    & .card-item-student {
        display: flex;
        & .card-content-score {
            display: flex;
        }

        & .card-content-title-p {
            width: 83px;
            display: flex;
        }

        & > svg {
            padding-right: 12px;
        }
    }
}
