$primaryColor: #13e2a1;
$textBlack: #2e2c2c;
$textGray: #706d6d;

.class-page-root {
    padding-left: 240px;
    min-height: 80vh;

    & .class-input-header {
        padding: 18.5px 0;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    & .class-title {
        font-size: 16px;
        font-weight: 400;
        width: 100%;
        padding: 34px 0;
        & > b {
            font-weight: 600;
        }
        & > span {
            color: $primaryColor;
            font-weight: 600;
        }
    }

    & .class-draft-root {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;

        & .class-draft-card {
            width: 100%;
        }
    }

    & .class-manage-root {
    }

    & .class-report-root {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        padding: 25px 0;

        & .class-report-info {
            padding: 45px 0;
            display: flex;
            width: 100%;
            justify-content: flex-start;

            & > .report-box:nth-child(1) {
                flex: 2;
                padding-right: 24px;
            }
            & > .report-box:nth-child(2) {
                flex: 2;
                padding: 0 24px;
            }
            & > .report-box:nth-child(3) {
                flex: 1;
                padding-left: 24px;
            }
            & .report-box + .report-box {
                border-left: 2px solid #e5e5e5;
            }
            & .report-box {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: flex-start;

                & .report-col {
                    width: 100%;
                    padding-bottom: 16px;
                    display: flex;
                    align-items: center;
                    justify-content: flex-start;
                    & > h3 {
                        color: $textBlack;
                    }
                    & > p {
                        overflow: hidden;
                        text-overflow: ellipsis;
                        display: -webkit-box;
                        -webkit-line-clamp: 2; /* 라인수 */
                        -webkit-box-orient: vertical;
                        word-wrap: break-word;
                        line-height: 1.5rem;
                        color: $textGray;
                    }

                    & .left-bottom {
                        width: 100%;
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                    }

                    & .mid-mid {
                        padding: 0.3rem 0;
                        width: 100%;
                        display: flex;
                        align-items: center;
                        justify-content: flex-start;

                        & .mid-desc {
                            color: $textGray;
                            font-size: 1rem;
                            font-weight: 600;
                            width: 80px;
                        }
                        & .mid-content {
                            color: $textGray;
                            font-size: 1rem;
                            font-weight: 400;
                        }
                    }

                    & .right-top {
                        width: 100%;
                        display: flex;
                        justify-content: center;
                    }

                    & .right-bottom {
                        text-align: center;
                        width: 100%;
                    }
                }
            }
        }
    }
}
