/********************* 폰트 초기화 *************************/
/********************* Montserrat ***********************/
@font-face {
    font-family: 'Montserrat';
    font-weight: 200;
    src: url('./fonts/Montserrat/Montserrat-Light.ttf');
}

@font-face {
    font-family: 'Montserrat';
    font-weight: 400;
    src: url('./fonts/Montserrat/Montserrat-Regular.ttf');
}

@font-face {
    font-family: 'Montserrat';
    font-weight: 600;
    src: url('./fonts/Montserrat/Montserrat-Bold.ttf');
}

@font-face {
    font-family: 'Montserrat';
    font-weight: 800;
    src: url('./fonts/Montserrat/Montserrat-Black.ttf');
}
/********************* Montserrat ***********************/

/******************** Noto Sans KR **********************/
@font-face {
    font-family: 'Noto Sans KR';
    font-weight: 200;
    src: url('./fonts/Noto_Sans_KR/NotoSansKR-Light.otf');
}

@font-face {
    font-family: 'Noto Sans KR';
    font-weight: 400;
    src: url('./fonts/Noto_Sans_KR/NotoSansKR-Regular.otf');
}

@font-face {
    font-family: 'Noto Sans KR';
    font-weight: 600;
    src: url('./fonts/Noto_Sans_KR/NotoSansKR-Bold.otf');
}

@font-face {
    font-family: 'Noto Sans KR';
    font-weight: 800;
    src: url('./fonts/Noto_Sans_KR/NotoSansKR-Black.otf');
}
/******************** Noto Sans KR **********************/
// def. pixel size: 16
// nav, footer, font 등 구현하시면 됩니다.

$primaryColor: #13e2a1;
$secondaryColor: #3b168a;
$greenTintGrey: #f7f9f8;
$backgroundFooter: #eaeaea;
$textFooterInfo: #8a8a8a;
$textFooterMenu: #3a3a3a;

html,
body {
    background-color: $greenTintGrey;
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', 'Noto Sans KR';
    height: 100%;
    word-break: keep-all;

    input {
        border: none;
        font-size: 0.8rem;
    }
    input:focus {
        outline: none !important;
    }
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        -webkit-appearance: none !important;
        margin: 0 !important;
    }
    input::placeholder {
        color: #969393;
    }

    button {
        outline: 0;
        border: 0;
        cursor: pointer;
    }

    h1 {
        font-size: 2.25rem;
        line-height: 2.5rem;
        margin: 0;
        font-weight: 600;
    }

    h2 {
        font-size: 2rem;
        font-weight: 600;
        line-height: 2.25rem;
        margin: 0;
    }

    h3 {
        font-size: 1.5rem;
        font-weight: 600;
        line-height: 2rem;
        margin: 0;
    }

    h4 {
        font-size: 1.25rem;
        font-weight: 600;
        line-height: 1.5rem;
        margin: 0;
    }
    h5 {
        font-size: 1.125rem;
        font-weight: 500;
        line-height: 1.5rem;
        margin: 0;
    }

    p {
        font-size: 1rem;
        line-height: 1.5rem;
        margin: 0;
    }

    .card-title-p {
        font-size: 1.125rem;
        font-weight: 600;
        color: #2e2c2c;

        margin: 0;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
    }
    .card-subTitle-p {
        font-size: 1rem;
        font-weight: 400;
        color: #2e2c2c;

        margin: 0;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
    }
    .card-content-title-p {
        font-size: 0.875rem;
        font-weight: 600;
        color: #706d6d;

        margin: 0;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
    }
    .card-content-p {
        font-size: 0.875rem;
        font-weight: 400;
        color: #706d6d;

        margin: 0;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
    }
    .card-bottom-p {
        font-size: 0.75rem;
        font-weight: 500;
    }

    & .header-bar {
        color: #ffffff;
        display: flex;
        position: fixed;
        width: 100%;
        height: 80px;
        z-index: 1299;
        transition: all 0.3s;

        &.scrolled {
            box-shadow: 0 0.2rem 0.25rem rgba(0, 0, 0, 0.15);

            &.students {
                background-color: $primaryColor;
            }

            &.teachers {
                background-color: $secondaryColor;
            }

            &.admins {
                background-color: #7c7c7c;
            }
        }

        & .container {
            align-items: center;
            display: flex;

            &.left {
                margin: 0 auto 0 5%;

                & img {
                    height: 40px;
                }
            }

            &.center {
            }

            &.right {
                margin: 0 5% 0 auto;

                & p {
                    cursor: pointer;
                    & span {
                        font-weight: 600;
                    }
                }
            }
        }
    }

    & .main-divider {
        max-width: 960px;
        margin: 0 auto;
    }

    & footer {
        background-color: $backgroundFooter;
        color: $textFooterInfo;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        min-height: 144px;
        font-size: 12px;

        & .contents {
            display: flex;
            justify-content: space-between;
            width: 100%;
            max-width: 960px;

            & .left {
                & .menus {
                    display: flex;
                    margin: 16px;
                    margin-left: 0;

                    & .item {
                        & a {
                            text-decoration: none;
                            color: $textFooterMenu;
                        }

                        & + .item {
                            margin-left: 48px;
                        }
                    }
                }

                & .infos {
                    margin: 16px;
                    margin-left: 0;
                    word-break: keep-all;

                    & a {
                        text-decoration: none;
                        color: inherit;
                    }
                }
            }

            & .right {
                & .logo {
                    margin: 16px;
                    margin-right: 0;

                    & img {
                        height: 36px;
                        filter: invert(1) brightness(0.6);
                    }
                }

                & .copyright {
                    margin: 16px;
                    margin-right: 0;
                }
            }
        }
    }

    & .nav-popover-acc-name {
        text-align: center;
        font-size: 1.5rem;
        font-weight: 300;
        margin-top: 1em;
    }

    & .MuiDrawer-root.MuiDrawer-modal {
        & .MuiBackdrop-root {
            background-color: transparent;
        }
    }

    #webgazerGazeDot {
        pointer-events: none;
        width: 15px !important;
        height: 15px !important;
    }

    @media all and (min-width: 769px) and (max-width: 1280) {
        input {
            border: none;
            font-size: 0.8rem;
        }
        input:focus {
            outline: none;
        }
        button {
            outline: 0;
            border: 0;
            cursor: pointer;
        }
    }

    @media all and (max-width: 768px) {
        a {
        }
        input {
            border: none;
            font-size: 1.1rem;
        }
        input:focus {
            outline: none;
        }
        button {
            outline: 0;
            border: 0;
            cursor: pointer;
        }

        h1 {
            font-size: 2rem;
            line-height: 2.25rem;
            font-weight: 600;
        }

        h2 {
            font-size: 1.75rem;
            font-weight: 600;
            line-height: 2rem;
        }

        h3 {
            font-size: 1.44rem;
            font-weight: 600;
            line-height: 1.75rem;
        }

        h4 {
            font-size: 1.1rem;
            font-weight: 600;
            line-height: 1.44rem;
        }

        h5 {
            font-size: 1rem;
            font-weight: 500;
            line-height: 1.44rem;
        }

        p {
            font-size: 0.9rem;
            line-height: 1.44rem;
        }

        & .header-bar {
            & .container {
                &.left {
                    margin: 0 auto 0 16px;

                    & img {
                        height: 40px;
                    }
                }

                &.center {
                }

                &.right {
                    margin: 0 16px 0 auto;
                }
            }
        }

        & footer {
            & .contents {
                flex-direction: column;

                & .left {
                    & .menus {
                        margin-left: 16px;
                    }

                    & .infos {
                        margin-left: 16px;
                    }
                }

                & .right {
                    & .logo {
                        display: none;
                    }

                    & .copyright {
                        margin-top: -4px;
                    }
                }
            }
        }
    }

    @media all and (min-width: 992px) and (max-width: 1483px) {
    }

    @media all and (min-width: 663px) and (max-width: 991px) {
        & .main-divider {
            max-width: 632px;
        }
        & footer {
            & .contents {
                max-width: 632px;
            }
        }
    }

    @media all and (max-width: 662px) {
        & .main-divider {
            margin: 16px;
        }
    }
}
