.login-page {
    width: 100%;
    min-height: calc(100vh);
    background-size: cover;
    background-position: center;
    background-repeat: repeat;
    transition: background-image 0.35s;

    &.students {
        background-image: url('/bg_images/login_bg2.png');
    }
    &.teachers {
        background-image: url('/bg_images/login_bg.png');
    }

    &.admins {
        background-image: url('/bg_images/frame_2.png');
    }

    & .decorator-root {
        //background-image: url('/bg_images/frame_0.png');
        background-size: cover;
        background-position: center;
        background-repeat: repeat;
        transition: all 0.5s;

        &.students {
            background-image: url('/bg_images/frame_0.png');
        }
        &.teachers {
            background-image: url('/bg_images/login_bg.png');
        }

        &.admins {
            background-image: url('/bg_images/frame_2.png');
        }
    }

    & .contents-root {
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        height: 100vh;
        min-height: 680px;
        max-height: 800px;

        & .bg-s {
            background-color: #28ecb6;
            box-shadow: 5px 5px 15px #c3bcbc24;
        }
        & .bg-t {
            background-color: #6c46a1;
            box-shadow: 5px 5px 15px #c3bcbc24;
        }
        & .login-form {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 65px;

            color: white;

            border-radius: 11px;

            & h3 {
                line-height: 1.7;
                font-weight: 600;
                margin-right: 70px;

                & .bold-s {
                    padding: 0.1rem;
                    font-weight: 600;

                    background-color: #3b168a;
                }
                & .bold-t {
                    padding: 0.1rem;
                    font-weight: 600;

                    background-color: #13e2a1;
                }
            }
            & .usertype-change-link {
                margin-top: 1rem;
                color: #efefef;
                & a {
                    cursor: pointer;
                }
            }
        }

        & .additional-auth-root {
            display: flex;
            flex-direction: column;
            width: 790px;

            & .additional-auth-box {
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding: 65px;
                color: white;
                box-shadow: 5px 5px 15px #c3bcbc24;
                border-radius: 11px;

                & h3 {
                    line-height: 1.7;
                    font-weight: 600;
                    font-size: 1.5rem;
                    width: 180px;
                }

                & .auth-right {
                    display: flex;
                    flex-direction: column;
                    margin-left: 150px;
                    & h5 {
                        font-size: 1rem;
                        font-weight: 400;
                    }

                    & .form {
                        margin-top: 1rem;

                        & input {
                            & + input {
                                margin-top: 0.5rem;
                            }
                        }

                        & .academy-search-results {
                            background-color: #dfd7ea;

                            color: #474747;
                            margin-top: 0.75rem;
                            margin-bottom: 0.5rem;
                            border: 1px solid #d6d6d6;
                            border-radius: 4px;
                            box-sizing: border-box;
                            padding: 0px 24px;
                            height: 52px;
                            display: flex;
                            flex-direction: column;
                            justify-content: center;

                            & p.name {
                                font-size: 0.8rem;
                                font-weight: 600;
                                line-height: 1.1rem;
                            }

                            & p.address {
                                color: #8f8f8f;
                                font-size: 0.8rem;
                                line-height: 1.1rem;
                            }
                        }
                    }
                }
            }
            & .request-button {
                margin-top: 40px;
                display: flex;
                justify-content: center;
            }
        }

        & input.default {
            background-color: #f6f7f9;
            border: 1px solid #d6d6d6;
            border-radius: 4px;
            box-sizing: border-box;
            color: #474747;
            font-family: inherit;
            font-size: 1rem;
            line-height: 2.625rem;
            width: 100%;
            height: 52px;
            outline: none;
            padding: 0px 24px;

            &.error {
                color: #ff4646;

                &::placeholder {
                    color: #ff8383;
                }

                &:focus {
                    box-shadow: 0 0 0 2px #ff8383;
                }
            }

            &::placeholder {
                color: #969393;
            }

            &:focus {
                background-color: darken($color: #f6f7f9, $amount: 1.333);
                box-shadow: 0 0 0 2px #8f8f8f;
            }

            & + input {
                margin-top: 24px;
            }
        }
    }

    @media all and (min-width: 769px) and (max-width: 1280) {
    }

    @media all and (max-width: 768px) {
        & .contents-root {
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;
            height: 100vh;
            min-height: 680px;
            max-height: 800px;

            & .bg-s {
                background-color: transparent;
                box-shadow: none;
            }
            & .bg-t {
                background-color: transparent;
                box-shadow: none;
            }
            & .login-form {
                flex-direction: column;
                align-items: flex-start;
                padding: 32px;

                & h3 {
                    margin: 0 0 20px 0;
                }
            }
        }
    }
}
