.login-page {
    width: 100%;
    min-height: calc(100vh - 144px);

    & .decorator-root {
        background-image: url('/bg_images/frame_0.png');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        position: absolute;
        width: 100%;
        height: 80px;
        transition: all 0.5s;

        &.teachers {
            background-image: url('/bg_images/frame_1.png');
        }

        &.admins {
            background-image: url('/bg_images/frame_2.png');
        }
    }

    & .contents-root {
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        height: calc(100vh - 144px - 16px);
        min-height: 680px;
        max-height: 800px;

        & .login-form {
            color: #00140e;
            min-width: 320px;

            & h3 {
                line-height: 1.4;
                font-weight: 600;
                & .bold-s {
                    padding: 0.1rem;
                    font-weight: 600;
                    color: white;
                    background-color: #13e2a1;
                }
                & .bold-t {
                    padding: 0.1rem;
                    font-weight: 600;
                    color: white;
                    background-color: #3b168a;
                }
            }
            & .usertype-change-link {
                margin-top: 1rem;
                & a {
                    cursor: pointer;
                }
            }
        }

        & .additional-auth {
            color: #ffffff;
            min-width: 320px;
            max-width: 360px;

            & h4 {
                & + h4 {
                    margin-top: 1rem;
                }
            }

            & .form {
                margin-top: 1rem;

                & input {
                    & + input {
                        margin-top: 0.5rem;
                    }
                }

                & .academy-search-results {
                    color: #474747;
                    margin-top: 0.75rem;
                    margin-bottom: 0.5rem;
                    padding: 0 2px;

                    & p.name {
                        font-size: 0.8rem;
                        font-weight: 600;
                        line-height: 1.1rem;
                    }

                    & p.address {
                        color: #8f8f8f;
                        font-size: 0.8rem;
                        line-height: 1.1rem;
                    }
                }
            }

            & .request-button {
                margin-top: 0.9rem;
            }
        }

        & input.default {
            background-color: #f6f7f9;
            border: 1px solid #d6d6d6;
            border-radius: 4px;
            box-sizing: border-box;
            color: #474747;
            font-family: inherit;
            font-size: 1rem;
            line-height: 2.625rem;
            width: 100%;
            height: 52px;
            outline: none;
            padding: 0px 24px;

            &.error {
                color: #ff4646;

                &::placeholder {
                    color: #ff8383;
                }

                &:focus {
                    box-shadow: 0 0 0 2px #ff8383;
                }
            }

            &::placeholder {
                color: #969393;
            }

            &:focus {
                background-color: darken($color: #f6f7f9, $amount: 1.333);
                box-shadow: 0 0 0 2px #8f8f8f;
            }

            & + input {
                margin-top: 24px;
            }
        }
    }

    @media all and (min-width: 769px) and (max-width: 1280) {
    }

    @media all and (max-width: 768px) {
    }
}
