.main-page {
    width: 100%;
    min-height: calc(100vh - 144px);

    & .decorator-root {
        background-color: #7c7c7c;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        position: absolute;
        width: 100%;
        height: 380px;

        &.students {
            background-image: url('/bg_images/frame_0.png');
        }

        &.teachers {
            background-image: url('/bg_images/frame_1.png');
        }

        &.admins {
            background-image: url('/bg_images/frame_2.png');
        }
    }

    & .contents-root {
        & .cards-contents-root {
            padding-top: 80px;
            padding-bottom: 80px;
        }
    }

    & .introduce {
        color: #ffffff;
        margin-top: 48px;
        width: 100%;

        & h2 {
            text-align: center;
            max-width: 64rem;
            margin: 26px 0;
        }
    }

    & .academy-name {
        color: #ffffff;

        & h4 {
            margin-bottom: 1rem;
        }
    }

    & .no-classes {
        color: #ffffff;
        margin-bottom: -110px;

        & h5 {
            width: 36rem;

            & + h5 {
                margin-top: 0.3rem;
            }
        }
    }

    & .below-card-container {
        padding: 0 12px;
    }

    & .contents-bottom-root {
        width: 100%;
        padding: 80px 0;
        display: grid;
        grid-template-columns: 2fr 1fr;

        & .bottom-left {
            padding: 2rem 1rem;
            border-radius: 11px;
            border: 1px solid rgba(0, 0, 0, 0.12);

            //background-position: center;
            //background-size: cover;
            //background-image: url('/bg_images/main_bottom.png');

            & .bottom-left-top {
                width: 85%;
                color: black;
                font-size: 1.3rem;
                font-weight: 600;
                line-height: 1.4;
            }
            & .bottom-left-central {
                width: 85%;
                margin-top: 0.5rem;
                color: #969393;
                font-size: 0.95rem;
                font-weight: 400;
                line-height: 1.4;
            }
            & .bottom-left-footer {
                margin-top: 1.5rem;
                display: flex;
                align-items: center;
                justify-content: flex-end;
                cursor: pointer;
                text-align: right;
                color: black;
                font-size: 0.8rem;
                font-weight: 400;
                line-height: 1.3;
            }
        }

        & .bottom-right {
            cursor: pointer;
            border: 1px solid rgba(0, 0, 0, 0.12);
            border-radius: 11px;
            margin-left: 24px;
            padding: 24px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            & h4 {
                display: flex;
                align-items: center;
                font-size: 1.25rem;
                font-weight: 600;
                line-height: 1.5rem;
            }
            & h5 {
                color: #969393;
                font-size: 1rem;
                font-weight: 500;
                line-height: 1.5rem;
            }
        }

        & .bottom-right:hover {
            transition: 0.5s;
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        }
    }
}

.create-new-entry-root {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 72px 84px;
    min-width: 100px;
    max-width: 500px;
    height: 100%;

    & .close-icon {
        cursor: pointer;
    }

    & .title {
        margin-top: 64px;

        & h2 {
            max-width: 20rem;
        }
    }

    & .form-container {
        margin-top: 42px;

        & input.default {
            background-color: #f6f7f9;
            border: none;
            border-radius: 10px;
            box-sizing: border-box;
            color: #474747;
            font-family: inherit;
            font-size: 1rem;
            line-height: 2.625rem;
            width: 100%;
            height: 60px;
            outline: none;
            padding: 0px 30px;

            &.error {
                color: #ff4646;

                &::placeholder {
                    color: #ff8383;
                }

                &:focus {
                    box-shadow: 0 0 0 2px #ff8383;
                }
            }

            &::placeholder {
                color: #969393;
            }

            &:focus {
                background-color: darken($color: #f6f7f9, $amount: 1.333);
                box-shadow: 0 0 0 2px #8f8f8f;
            }

            & + input {
                margin-top: 24px;
            }
        }
    }

    & .create-button {
        display: flex;
        justify-content: flex-end;
        margin-top: auto;
        padding-top: 4.5rem;
        width: 100%;
    }

    @media all and (min-width: 769px) and (max-width: 1280) {
    }

    @media all and (max-width: 768px) {
        padding: 32px;

        & .title {
            margin-top: 48px;

            & h2 {
                max-width: 20rem;
            }
        }
    }
}
