.class-manage-root {
    width: 100%;
    margin: 0 auto;
    // padding: 0 0 50px 0;
    box-sizing: border-box;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    & .class-discription {
        margin-bottom: 16px;
        margin-top: 4px;
    }
    & .manage-header {
        margin-bottom: 3.2rem;

        & .manage-title {
            margin-bottom: 1rem;
        }
        & .manage-subTitle {
            color: #969393;
            font-size: 1rem;
        }
    }
    & .class-copy {
        margin-bottom: 41px;
        display: flex;
        background-color: #ffffff;
        border: 2px solid #3b1689;
        box-sizing: border-box;
        border-radius: 16px;
        width: 951px;
        height: 56px;
        align-items: center;
        padding: 0px 10px;
        & p {
            font-size: 18px;
            margin-left: 44px;
            margin-right: 39px;
        }
        & input {
            font-weight: bold;
            width: 140px;
            font-size: 24px;
        }
        & button {
            background: #f4f1fa;
            border-radius: 104px;
            padding: 3px 12px;
            color: #6c46a1;
            font-weight: bold;
            font-size: 18px;
        }
    }

    & .manage-inputs + .manage-inputs {
        margin-top: 49px;
    }
    & .manage-inputs {
        width: 100%;

        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        & span {
            font-weight: 400;
        }

        & .manage-inputs-header {
            width: 100%;
            font-size: 1rem;
            color: #707070;
            font-weight: 500;

            padding-bottom: 1rem;
            margin-bottom: 1rem;
            display: flex;
            justify-content: space-between;

            & span {
                font-weight: 300;
            }
        }
        & .manage-invite {
            display: flex;
            align-items: center;
            box-sizing: border-box;
            padding: 0 1rem;
            width: 100%;
            height: 60px;
            border-radius: 10px;
            background-color: white;

            & > input {
                width: calc(100% - 96px);
                text-align: center;
                font-size: 1.2rem;
                font-weight: 500;
                color: black;
            }

            & > button {
                box-shadow: 0px 3px 6px #00000029;
                background-color: #3f1990;
                border-radius: 11px;
                color: white;
                font-size: 0.9rem;
                font-weight: 500;
                width: 96px;
                height: 45px;
            }
        }
        & > input + input {
            margin-top: 1rem;
        }

        & input.default {
            border: none;
            border-radius: 16px;
            box-sizing: border-box;
            color: #707070;
            font-family: inherit;
            font-size: 1rem;
            font-weight: 400;
            line-height: 2.625rem;
            width: 100%;
            height: 60px;
            outline: none;
            padding: 0px 30px;
            background-color: #f6f8f9;

            &.error {
                color: #ff4646;

                &::placeholder {
                    color: #ff8383;
                }

                &:focus {
                    box-shadow: 0 0 0 2px #ff8383;
                }
            }

            &::placeholder {
                color: #969393;
            }

            &:focus {
                background-color: darken($color: #f6f7f9, $amount: 1.333);
                box-shadow: 0 0 0 2px #8f8f8f;
            }
        }

        & textarea.default {
            margin-top: 24px;
            background-color: white;
            border: none;
            border-radius: 16px;
            box-sizing: border-box;
            color: #707070;
            font-family: inherit;
            font-size: 1rem;
            resize: vertical;
            background-color: #f6f8f9;
            font-weight: 400;
            line-height: 1.25;
            width: 100%;
            height: 264px;
            outline: none;
            padding: 20px 30px;
            resize: none;

            &.error {
                color: #ff4646;

                &::placeholder {
                    color: #ff8383;
                }

                &:focus {
                    box-shadow: 0 0 0 2px #ff8383;
                }
            }

            &::placeholder {
                color: #969393;
            }

            &:focus {
                background-color: darken($color: #f6f7f9, $amount: 1.333);
                box-shadow: 0 0 0 2px #8f8f8f;
            }
        }

        & .form-buttons {
            display: flex;
            width: 100%;
        }
    }

    & .manage-footer {
        width: 100%;
        display: flex;
        align-items: flex-end;
        justify-content: center;
        margin-top: 4.5rem;
        font-size: 1rem;
        font-weight: 600;

        & button {
            // cursor: pointer;
            // border-radius: 10px;
            // background-color: #c4c4c4;
            // color: white;
            // width: 150px;
            // height: 56px;

            // display: flex;
            // align-items: center;
            // justify-content: center;
        }

        & button:hover {
            // background-color: #b3b3b3f2;
        }

        & button + button {
            margin-left: 1rem;
        }
    }
    @media (min-width: 0px) and (max-width: 1231px) {
        & {
            width: 100%;
        }
    }
}
