$LeftMenuPrimary: #2e2c2c;

a {
    background: transparent;
    text-decoration: none;
    color: inherit;
}
.left-nav-root {
    background-color: #3b168a;
    background-image: url('/bg_images/nav_back.png');
    background-repeat: no-repeat;
    width: 240px;
    height: 100%;
    position: fixed;
    z-index: 1000;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    & .left-nav {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;

        & .left-nav-box + .left-nav-box {
            border-top: 2px solid #6c4cb1;
        }
        & .left-nav-box {
            width: 100%;

            & > a img {
                height: 45px;
                margin: 10px 24px;
                box-sizing: border-box;
            }

            & .box-wrapper {
                padding: 18px 24px;
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                justify-content: center;
                color: white;

                & > img {
                    height: 28px;
                    margin-right: 1rem;
                }
                & > h4 {
                    padding-bottom: 4px;
                }
                & > h5 {
                    padding-bottom: 4px;
                    font-weight: 600;
                }
                & .info-num {
                    display: flex;
                    align-items: center;
                    justify-content: flex-start;
                    margin-top: 5px;
                    & h5 {
                        font-weight: 500;
                    }
                    & > img {
                        width: 18px;
                        margin-right: 16px;
                    }
                }
            }

            & .a-wrapper {
                & .left-nav-item {
                    padding: 16px 24px;
                    color: white;

                    font-size: 14px;
                    font-weight: 500;
                    display: flex;
                    align-items: center;
                    justify-content: flex-start;

                    & > p {
                        font-size: 0.875rem;
                    }
                    & .draft-ment {
                        font-size: 1rem;
                        margin-right: 2rem;
                        font-weight: 400;
                        & > b {
                            font-weight: 600;
                        }
                    }
                    & svg + p {
                        margin-left: 1rem;
                    }
                }

                & .left-a-active {
                    & .left-nav-item {
                        background-color: #daebf7;
                        font-weight: 600;
                        color: $LeftMenuPrimary;
                        & svg path {
                            fill: $LeftMenuPrimary;
                        }
                    }
                }
            }
        }
    }
}
