$LeftMenuPrimary: #2e2c2c;

a {
    background: transparent;
    text-decoration: none;
    color: inherit;
}
.left-nav-root {
    background-color: #3b168a;
    display: flex;
    justify-content: center;
    align-items: flex-start;

    width: 256px;
    height: 100%;
    position: fixed;
    z-index: 1000;

    & .left-nav-wrapper {
        & .left-nav-box {
            padding: 24px;
        }
        & .left-nav-box + .left-nav-box {
            border-top: 0.5px solid white;
            border-width: 120%;
        }

        & .logo-wrapper {
            & > img {
                width: 100%;
            }
        }

        & .info {
            & .info-header {
                color: white;
                h3 {
                    margin-bottom: 8px;
                }
                h4 {
                    margin-bottom: 8px;
                }
            }
        }
    }
}
